body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

.banner {

    text-align: center;
    font-size: 48px;
    color: white;

    padding-top: 150PX;
    padding-bottom: 150px;
    background-image: url(donate-today-main/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;


}



p {
    font-size: 20px;
    line-height: 30px;

}

h1 {
    margin: 0;
    padding: 0;
}

.banner-p {
    padding-left: 280px;
    padding-right: 280px;
}

.banner-anch {
    display: inline-block;
    text-decoration: none;
    color: white;

    border: solid 2px;
    border-style: none;


    border-radius: 10px;
    font-size: 20px;
    padding: 15px 20px;
    background-color: rgb(252, 88, 88);

}

a:hover {
    color: black;
}

.donation-header {
    text-align: center;

}

.grey-para {
    color: grey;


}

.i-font-weight {

    font-size: 40px;
    font-weight: 900;
}

.sec-section {
    margin-top: 150px;
}

.tk-section {
    display: flex;
    margin-left: 350px;

}


.flexing {
    padding: 30px;

}

.unique {
    background-color: rgb(250, 220, 225);
    color: rgb(252, 88, 88);
    border: 2px solid rgb(252, 88, 88);
    border-radius: 10px;
    padding: 25px 20px;
    margin-top: 0;
    font-weight: 700;



}

.input-tk {
    margin-top: 80px;
    text-align: center;
}

.input-field {
    border: none;
    border-bottom: 2px solid grey;
    width: 50%;
    text-align: center;
    font-size: 20px;
}

.anch-top-margin {
    margin-top: 30px;
}

.para-width {
    width: 50%;
    margin-left: 350px;
}

.upper-margin {
    margin-top: 100px;
}

.donate-sides {
    display: flex;
    margin-top: 50px;
}

.devide {
    width: 25%;
    padding: 30px;
    text-align: justify;
    margin-left: 40px;
    height: 305px;
}

#first-div {
    background-color: rgb(161, 190, 243);
}

#second-div {
    background-color: rgb(196, 245, 228);
}

#third-div {
    background-color: mistyrose;
}

.last-sec {
    margin-top: 150px;
}

.emailBox {
    display: flex;
    margin-left: 450px;
    margin-bottom: 100px;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

    height: 50px;
    width: 500px;




}

.button-design {
    padding: 10px;
    background-color: rgb(252, 88, 88);
    border: 2px solid rgb(252, 88, 88);
    color: white;




}

.input-design {
    border: none;
    background-color: rgb(214, 205, 205);
    width: 300px;
    height: 37px;
    padding-left: 10px;

}

.footer-design {
    text-align: center;
    margin-top: 40px;
    background-color: rgb(46, 44, 44);
    color: white;
    height: 200px;
}

.header-placement {
    padding-top: 80px;
    font-family: 'Kaushan Script', cursive;
}

.last-try {
    background-color: rgb(252, 200, 252);
    width: 100%;



}